@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body{
font-family: 'Montserrat', sans-serif;
}

.search{
  position: absolute;
  width: 30vw;
  height: 6vw;
  left: 67.8vw;
  top: 3.2vw;

}
.group {
  position: relative;
}

.search_img{
  position: relative;
  width: 2vw;
  left: 23vw;
  top: -2.8vw;
  z-index: 11;
  opacity: 50%;
}

input {
  position: relative;
  font-size: 22px;
  padding: 1vw;
  display: block;
  left: 0vw;
  top: 0vw;
  width: 25.5vw;
  height: 6vh;
  border: 4px solid #000000;
  z-index: 10;
}

.square_left{
  position: absolute;
  overflow: hidden;
  background:  #FFD801;
  width: 10vw;
  height: 295vh;
  top: 0vw;
  left: 0vw;
}

.logo{
  position: fixed;
  top: 1.2vw;
  left: 2vw;
  width: 2.9vw;
}

.header_list{
  position: absolute;
  /* overflow: hidden; */
  display: flex;
  top: 7.7vw;
  left: 2vw;

}
.header_list,li{
  list-style: none;
  margin: 0vw 0vw 0vw 6vw;
  z-index: 20;
}

.header_link_1{
  font-size: 24px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  width: 20vw;
  background: white;
  border: 4px solid black;
  padding: 1vw 3vw 1vw 3vw;
}

.header_link_1:hover{
  background-color: black;
  color: white;
}

.header_link_2{
  font-size: 24px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  width: 20vw;
  background: white;
  /* border: 4px solid black; */
  padding: 1vw 3vw 1vw 3vw;
}

.header_link_2:hover{
  background-color: black;
  color: white;
}

.header_link_3{
  font-size: 24px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  width: 20vw;
  background: white;
  /* border: 5px solid black; */
  padding: 1vw 3vw 1vw 3vw;
}

.header_link_3:hover{
  background-color: black;
  color: white;
}

.part1{
  position: absolute;
  top: 13.5vw;
  left: 7vw;
  width: 87vw;
  height: 0vh;
}

.img1{
  position: relative;
  width: 44vw;
  left: 0vw;
  top: 0vw;
}

.text1{
  position: relative;
  background: blue;
  border: 4px solid black;
  line-height: 57px;
  width: 61vw;
  height: 16vh;
  padding: 3vw 3vw;;
  font-size: 44px;
  font-weight: 400;
  color: white;
  left: 0vw;
  top: 1.5vw;
}

.img2{
  position: relative;
  top: -42vw;
  left: 44vw;
  width: 23.6vw;
}

.back_hand{
  position: relative;
  background: red;
  border: 4px solid black;
  width: 16.5vw;
  height: 76.5vh;
  top: -68.5vw;
  left: 69.5vw;
}

.img_hand{
  position: relative;
  width: 38vw;
  top: -111.9vw;
  left: 53vw;
}

.planets{
   position: absolute;
   /* overflow: hidden; */
   top: 63vw;
   left: 2vw;;
   width: 98vw;
   display: flex;
}

.planet1{
  width: 24vw;
  margin: -1vw 6vw -1vw 0vw;
}

.planet2{
  width: 14vw;
  /* margin: 0vw 0vw 0vw 5vw; */
}

.planet3{
  width: 14vw;
  /* margin: 0vw 0vw 0vw 11vw; */
}

.planet4{
  width: 14vw;
  /* margin: 0vw 0vw 0vw 10vw; */
}

.name{
  position: absolute;
  overflow: hidden;
  top: -2.5vw;
  left: 10vw;
  font-size: 30px;
  font-weight: 800;
  width: 87vw;
  color: black;
}

.u1{
  position: relative;
  transform: rotate(37deg);
  width: 6vw;
  top: 1.2vw;
  left: 5.5vw;
}

.u2{
  position: relative;
  transform: rotate(37deg);
  width: 6vw;
  top: 0vw;
  left: 30vw;
}

.u3{
  position: relative;
  transform: rotate(37deg);
  width: 6vw;
  top: -1.5vw;
  left: 54vw;
}

.u4{
  position: relative;
  transform: rotate(37deg);
  width: 6vw;
  top: -3.3vw;
  left: 78.7vw;
}

.part2{
  position: absolute;
  overflow: hidden;
  top: 81vw;
  left: 6.8vw;
  width: 88vw;
  height: 128vh;
}


.text2{
  position: relative;
  border: 4px solid black;
  text-align: center;
  width: 80vw;
  height: 4.7vh;
  padding: 5.5vw 3vw;;
  font-size: 44px;
  font-weight: 600;
  left: 0vw;
  top: 0vw;
}

.img6{
  position: relative;
  width: 68vw;
  top: 2.1vw;
  left: 0vw;
}


.img3{
  position: relative;
  width: 25.5vw;
  top: 3.2vw;
  left: 0vw;
}

.img5{
  position: relative;
  width: 41vw;
  height: 16.5vw;
  top: 3.5vw;
  left: 1.3vw;
}

.button_buy{
  position: relative;
  left: 40vw;
  top: 35vw;
  z-index: 10;
}

.buy{
  width: 20vw;
  background: white;
  border: 5px solid black;
  padding: 1vw 5vw 1vw 5vw;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: black;
}

.buy:hover{
  background-color: black;
  color: white;
}

.mood{
  position: relative;
  border: 4px solid black;
  width: 7.5vw;
  height: 34vw;
  padding: 0vw 3vw 2vw 6vw;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  line-height: 4.8;
  color: black;
  left: 69.6vw;
  top: -33.3vw;
}

.color{
  position: absolute;
  /* overflow: hidden; */
  display: flex;
  transform: rotate(90deg);
  top: 38vw;
  left: 55.7vw;
  width: 37vw;
  height: 0vw;
}


.orange{
  border-radius: 50%;
  background: #FF9A02;
  width: 2.8vw;
  height: 5vh;  margin: 0vw 0vw 0vw 3.2vw;
}

.violet{
  border-radius: 50%;
  background: #9F02FF;
  width: 2.8vw;
  height: 5vh;
  margin: 0vw 0vw 0vw 3.2vw;
}

.blue{
  border-radius: 50%;
  background: #179EEB;
  width: 2.8vw;
  height: 5vh;

}

.red{
  border-radius: 50%;
  background: #FF0202;
  width: 2.8vw;
  height: 5vh;
  margin: 0vw 0vw 0vw 3.2vw;
}

.green{
  border-radius: 50%;
  background: #30EF00;
  width: 2.8vw;
  height: 5vh;
  margin: 0vw 0vw 0vw 3.2vw;
}

.yellow{
  border-radius: 50%;
  background: #FFF502;
  width: 2.8vw;
  height: 5vh;
  margin: 0vw 0vw 0vw 3.2vw;

}

.text3{
  position: relative;
  background: blue;
  border: 4px solid black;
  line-height: 57px;
  width: 80.2vw;
  height: 11vh;
  padding: 3vw 3vw;;
  font-size: 44px;
  font-weight: 400;
  color: white;
  left: 0vw;
  top: -29.5vw;
}

.footer{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 13vw;
  background: black;
  left: 0;
  top: 155.5vw;
}

.footer_menu{
  position: relative;
  overflow: hidden;
  display: flex;
  top: 3vw;
  left: 18vw;
  font-size: 24px;
  font-weight: 40;
  text-decoration: none;
}

.footer_email{
  position: relative;
  overflow: hidden;
  display: flex;
  top: 6vw;
  left: 18vw;
  color: white;
  font-size: 24px;
  font-weight: 40;
}

.footer_menu ,a{
list-style: none;
margin: 0vw 0vw 0vw 0vw ;
width: 50vw;
color: white;
text-decoration: none;

}

.footer_email ,p{
list-style: none;
margin: 0vw 0vw 0vw 0vw ;
width: 50vw;
text-decoration: none;

}

.facebook{
  position: relative;
  width: 3vw;
  height: 10vh;
  left: 90.5vw;
  top: -2.5vw;
}

.insta{
  position: relative;
  width: 3vw;
  height: 10vh;
  left: 87.3vw;
  top: 2vw;
}

.header_burger{
  display: none;
}

@media (min-width: 320px) and (max-width: 768px){
  .header2{
    position: fixed;
    float: right;
    margin: 0vw 0vw 0vw 138vw;
    top: 10px;
  }

  .header_burger{
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
  }
  .header_burger,span{
    position: absolute;
    background: black;
    width: 20px;
    height: 2px;
    left: 0;
    top: 5px;

  }

  .header_burger:before,
  .header_burger:after{
    content: '';
    background-color: black;
    position: absolute;
    width: 20px;
    height: 2px;
    left: 0px;
    top: 10px;
  }

  .header_burger:before{
    top: 0;
  }

  .header_burger:after{
    bottom: 0;
  }

  /* .header_menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130vw;
    background: white;
    z-index: 50;
  } */

  .header_list{
    position: relative;
    z-index: 1;
  }






}
